{% extends 'template.html.twig' %}

{% block body %}

    <h1 class="mb-4">Notifications</h1>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Message</th>
                                        <th>Date</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for notification in notifications %}
                                        <tr style="{% if not notification.etat %}background-color: #1e2a3a; color: white;{% endif %}">
                                            <td>{{ notification.id }}</td>
                                            <td>{{ notification.message|slice(0, 50) ~ (notification.message|length > 50 ? '...' : '') }}</td>
                                            <td class="text-nowrap">{{ notification.date|date('Y-m-d H:i:s')|date_modify('3 hours')|date('M d, Y h:i A') }}</td>
                                            <td class="project-actions text-right" style="white-space: nowrap;">
                                                <a href="{{ path('app_notification_show', {'id': notification.getId()}) }}"
                                                   class="btn btn-sm btn-primary"><i
                                                            class="fas fa-eye"></i> Visionner</a>
                                                {{ include('notification/_delete_form.html.twig') }}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="12">Aucun enregistrement trouvé</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                            <a href="{{ path('app_notification_new') }}" class="nav-link btn btn-success">
                                <i class="fas fa-plus"></i>
                                Envoyer une nouvelle
                                notification</a>
                            <a href="{{ path('app_notification_voir') }}" class="btn btn-sm btn-primary">
                                <i class="fas fa-eye"></i>
                                Tout marquer comme lu</a>


{% endblock %}


