{% extends 'template.html.twig' %}

{% block body %}

    <h1 class="mb-4">Fournisseurs</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Numero de Téléphone</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for fournisseur in fournisseurs %}
                <tr>
                    <td>{{ fournisseur.id }}</td>
                    <td>{{ fournisseur.nom }}</td>
                    <td>{{ fournisseur.numTel }}</td>
                    <td class="project-fournisseurs text-right" style="white-space: nowrap;">
                        <a href="{{ path('app_fournisseur_show', {'id': fournisseur.getId()}) }}"
                           class="btn btn-sm btn-primary"><i
                                    class="fas fa-eye"></i> Voir</a>
                        <a href="{{ path('app_fournisseur_edit', {'id': fournisseur.id}) }}"
                           class="btn btn-sm btn-warning"><i
                                    class="fas fa-edit"></i> Modifier</a>
                        {{ include('fournisseur/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    <a href="{{ path('app_fournisseur_new') }}" class="nav-link btn btn-success">
        <i class="fas fa-plus"></i>
        Ajouter un nouveau
        fournisseur</a>

{% endblock %}


